<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eascapeco.scinemapr.api.dao.admin.AdminMapper">

    <!--
        작성자 : jaehankim
        작성일 : 2019. 10. 10
        기능 : 관리자 정보를 조회
    -->
    <select id="selectAdmin" parameterType="String" resultType="Admin">
        SELECT A.*
             , ( SELECT GROUP_CONCAT(ROL_NM SEPARATOR ',')
                   FROM ADM_ROLE AR
                  INNER JOIN ROLES R ON AR.ROL_NO = R.ROL_NO
                  WHERE AR.ADM_NO = A.ADM_NO
               ) AS ROLENAME
          FROM ADMIN A
         WHERE ID = #{id}
    </select>

    <insert id="insertRefreshToken" parameterType="RefreshToken">
       INSERT INTO TKN_VALD
            ( tkn
            , adm_no
            )
       VALUES
            ( #{refreshToken}
            , #{admNo}
            )
           
    </insert>

    <select id="selectAdminList" resultType="Admin">
        SELECT ADM_NO
             , ID
             , REG_DATE
             , REG_NO
             , MOD_DATE
             , MOD_NO
             , USE_YN
             , PWD_EXPD
          FROM ADMIN
         WHERE 1=1
    </select>
</mapper>